@{
    ViewData["Title"] = "APR Tech Support Team";
}


<div>
    <center> <h2> The APR Tech Support Team</h2></center>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/images/danny.png" alt="Danny" style="width:100%">
            <div class="container">
                <h2>DANNY HERNANDEZ</h2>
                <p class="feature-text">Helpdesk Supervisor</p>

                <p>dhernandez@apr.com</p>
                <p><button type="button" class="btn btn-gold" onclick="location.href='@Url.Action("Danny", "Home")'">Learn More</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/edgar.jpg" alt="Edgar" style="width:100%">
            <div class="container">
                <h2>EDGAR CISNEROS</h2>
                <p class="feature-text">Helpdesk Technician </p>

                <p>ecisneros@apr.com</p>
                <p><button type="button" class="btn btn-gold" onclick="location.href='@Url.Action("Edgar", "Home")'">Learn More</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/raul.jpg" alt="Raul" style="width:100%; max-height:250px;">
            <div class="container">
                <h2>RAUL ORTEGA</h2>
                <p class="feature-text">Helpdesk Technician</p>

                <p>rortega@apr.com</p>
                <p><button type="button" class="btn btn-gold" onclick="location.href='@Url.Action("Raul", "Home")'">Learn More</button></p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/images/kevinhom.jpg" alt="Kevin" style="width:100%">
            <div class="container">
                <h2>KEVIN HOM</h2>
                <p class="feature-text">Helpdesk Technician</p>

                <p>khom@apr.com</p>
                <p><button type="button" class="btn btn-gold" onclick="location.href='@Url.Action("Kevin", "Home")'">Learn More</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/tams.jpg" alt="Tamiris" style="width:100%">
            <div class="container">
                <h2>TAMIRIS ALVES</h2>
                <p class="feature-text">Helpdesk Technician</p>

                <p>talves@apr.com</p>
                <p><button type="button" class="btn btn-gold" onclick="location.href='@Url.Action("Tamiris", "Home")'">Learn More</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/anon.jpg" alt="Placeholder" style="width:100%; max-height:250px;">
            <div class="container">
                <h2>NEW STAFF MEMBER</h2>
                <p class="feature-text">Helpdesk Technician</p>

                <p>example@example.com</p>
                <p><button type="button" class="btn btn-gold">Learn More </button></p>
            </div>
        </div>
    </div>
</div>
